body {
    background-color: #164863;
    color:#DDF2FD;
    margin: 0px;
}

header {
    background-color: #427D9D;
    color:#DDF2FD;
    padding: 20px;
    font-size: 32px;
    border-bottom: 2px solid #DDF2FD;
}

section {
    background-image: linear-gradient(#427D9D, #9BBEC8);
    padding-top: 80px;
    padding-bottom: 80px;
}